@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0px 5px 0px;
}

/* Configurações dos cards */
.card {
    width: 200px;
    border: 2px solid black;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

/* CONTAINER PRINCIPAL */
.container-slide {
    width: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

/* IMAGENS (em linha) */
.paginas-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.paginas-slide img {
    width: 200px;
    flex-shrink: 0;
}

/* SETAS (escondidas por padrão) */
.setas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

/* MOSTRAR SETAS QUANDO O MOUSE PASSAR */
.container-slide:hover .setas {
    opacity: 1;
}

/* ESTILO DAS SETAS */
.seta {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

/* Configurações do nome da camisa */
h2 {
    text-align: center;
}

/* Configuração dos preços e classificação */
.container-meio {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
}

.valor {
    margin: 5px;
    font-weight: 900;
}

.valor-original {
    margin: 5px;
    padding: 0pc;
    font-size: 0.8em;
}

.classificacao {
    margin-bottom: 0px;
    display: flex;
    font-size: 13px;
}

.valor-classificacao>span {
    background-color: yellow;
    border-radius: 3px;
    text-align: center;
    padding: 1px;
    margin: 5px;
}

.btn-add-carrinho {
    display: block;
    background-color: black;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
}